body {
}
.add-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    background-color: var(--secondary-color);
}
form {
    width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
form div {
    margin: 20px 0;
}
