.app_edit{
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   z-index: 99999999999999999999;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.4);
}
.edit-container{
   width: 600px;
   padding: 20px;
   border-radius: 10px;
}
.edit-container div{
   margin:20px 0;
}