@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* initial style */

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --background: #171b3c;
    --primary-color: #050716;
    --secondary-color: #191f51;
    --icon-size: 58px;
    --white: white;
    --scale-hover: 1.0;
}

.absolute {
    position: absolute;
}

.z98 {
    z-index: 98;
}

.cover-play-btn {
    font-size: 200%;
    padding-left: 90px;
    padding-top: 85px;
    opacity: 0;
}

body {
    background-color: var(--background);
}

.pl-35 {
    padding-left: 35px;
}

.element--head-cover:hover .cover-play-btn{
    opacity: 1;
    transition: 1s;
}

.element--rec-cover:hover {
    opacity: 1;
    transition: 1s;
}

.element--rec-cover:not(hover) {
    opacity: 0;
    transition: 1s;
}

.icon-play-200 {
    font-size: 200%;
    padding-top: 60px;
        display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

.w-33 {
    width: 33%;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.white {
    color: white;
}

.relative {
    position: relative;
}

/* style header */



.sidebar .logo-brand {
    padding-top: 15px;
    margin-bottom: 20px;
}

.grid-1 {
    box-sizing: border-box;
    position: fixed;
    background-color: var(--secondary-color);
    min-height: 100vh;
    width: 240px;
}


.sidebar .nav-menu-1 a,
.sidebar .nav-menu-2 a {
    display: flex;
    align-items: center;
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(212, 212, 212);
    padding-left: 35px;
    transition: 0.3s;
    border-inline-start: 0px solid #1a00af;
}

.sidebar .nav-menu-1 a:hover,
.sidebar .nav-menu-2 a:hover {
    border-inline-start: 3px solid #7970b1;
    color: white;
    background-color: #1e2450;
}

.nav-icon i {
    margin-right: 8px;
    width: 30px;
    font-size: 20px;
}

.divider {
    display: block;
    border-top: .5px solid rgba(148, 148, 148, 0.212);
    margin: 20px 35px;
}

/* grid 2 */

.grid-2 {
    max-width: calc(100% - 280px);
    box-sizing: border-box;
    max-height: fit-content;
    position: relative;
    left: 280px;
}

.header-top {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 40px;
    height: 70px;
    align-items: center;
    background-color: var(--background);
    z-index: 99;
}

.search-bar {
    position: relative;
}

.header-top .search-bar input {
    width: 500px;
    color: rgb(219, 219, 219);
    border-radius: 99px;
    padding-left: 35px;
    background-color: #2d3152;
    font-size: 14px;
    height: 40px;
    border: none;
}

span.search-icon {
    position: absolute;
    line-height: 40px;
    padding-left: 10px;
    font-size: 18px;
    color: rgb(219, 219, 219);
    top: 0;
    left: 0;
}


#header__nav-input {
    display: none;

    cursor: pointer;
}


.user-function {
    display: flex;
}


.user-function .func,
.header__nav-btn {
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    background-color: #111636;
    border-radius: 50%;
    font-size: 20px;
}

.user-function .user {
    border-radius: 99px;
    font-size: 14px;
    display: inline-block;
    padding: 0 15px;
    line-height: 40px;
    width: fit-content;
    background-color: #111636;
    color: white;
    height: 40px;
}

.func i {
    line-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

/* section 1: slide */


.slides .slide-component {
    width: calc(100% / 3 - 20px);
    border-radius: 12px;
    margin: 5px;
}


/* section 2: playlist 1 */


.playlist--hot-hit {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 10px 0;
}

.playlist--title {
    font-size: 100%;
    padding: 20px 0;
}

.element--title {
    font-size: 100%;
    padding: 8px 0;
}

.element--title h3 {
    font-size: 16px;
    margin: 3px 0;
}

.element--title p {
    font-size: 12px;
    color: #a19ac3
}

.playlist--carousel {
    display: flex;
    gap: 10;
}

.pl-element {
    width: 40%;
    margin: 0 30px 30px 0;
}

.overlay {
    display: none;
    position: absolute;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.500);
    top: 0;
    left: 0;
    bottom: 0;
}


.element--head {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.element--rec {
    width: 260px;
    height: 150px;
    overflow: hidden;
    border-radius: 5px;
}

.bg--rec-1 {
    background-image: url('././assetsassets/img/assets-the_loai/nhacviet.bmp');
}
.bg--rec-2 {
    background-image: url('../assetsassets/img/assets-the_loai/nhachan.bmp');
}
.bg--rec-3 {
    background-image: url('./assets/img/assets-the_loai/nhachoa.bmp');
}
.bg--rec-4 {
    background-image: url('./assets/img/assets-the_loai/nhacaumi.bmp');
}

.rec-nation {
    width: 200px;
    font-size: 200%;
    margin-top: 50px;
    margin-left: 50px;
}

.element--head img {
    scale: var(--scale-hover);
}

.element--head-cover:hover {
    --scale-hover: 1.05;
}

.element--head-cover:hover .overlay {
    display: block !important;
}


.element--rec-cover {
    width: 260px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
}

.element--head img {
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: .3s ease-out;
    transform: scale(1.05);
}


.pl-element .func--play {
    display: none;
    position: absolute;
    font-size: var(--icon-size);
    top: calc(50% - (var(--icon-size) / 2));
    left: calc(50% - (var(--icon-size) / 2));
    z-index: 1000;
}

.music-type-rec {
    height: fit-content;
    margin-top: 5%;
}

.type-title {
    color: white;
    font-size: 20px;
}

.rec-mus-div {
    width: 100%;
    height: 350px;
    margin-top: 20px;
    display: flex;
    gap: 35px;
}

.rec-mus {
    width: 205px;
    height: 300px;
    display: inline-block;
}

.main-img-board {
    width: 1160px;
    height: 325px;
    margin-bottom: 75px;
    border-radius: 10px;
}

.main-img-board:hover img{
    scale: 1.05;
    transition: 0.5s;
}